/* .footer {
    position:relative;
    bottom: 0;
    width: 100%; 
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0; 
    z-index: 999;
  } */
  /* Footer.css */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; 
  color: #ffffff;
  text-align: center;
  padding: 20px 0; 
}
